# VS Code
.vscode/
*.code-workspace

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv

# Byte-compiled / optimized / DLL files
*.so
*.pyc
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/

sim/data/results/csv/basic/*.csv
sim/data/results/csv/smart/*.csv
sim/data/results/json/basic/*.json
sim/data/results/json/smart/*.json
